<div class="login-container">
    <h2>Admin Login</h2>
    <form [formGroup]="adminLoginForm" (ngSubmit)="loginAdmin()">
      <input type="email" formControlName="email" placeholder="Email" required>
      <input type="password" formControlName="password" placeholder="Password" required>
      <br>
      <p>If you are a new Admin ...... Register First 😄</p>
      <button type="button" (click)="register()">Register</button>
      <button type="submit" [disabled]="!adminLoginForm.valid">Login</button>
    </form>
</div>